/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

:root { /*Hunter Green Light*/ /*Hunter Green Dark*/ /*Copper Red*/ /*New York Pink (Lighter)*/ /*Cedar Chest (Darker)*/ /*Old Mauve*/ /*Twilight Lavender (Lighter)*/ /*Dark Purple*/ /*Baby Powder*/
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Comfortaa', 'Arial', san-serif;
  font-weight: 400;
  color: #495F41;
  background-color: #FFFCF7;
  min-width: 800px;
  max-width: 1200px;
  width: 100%;
  line-height: 20px;

}

h1 {
  font-color: #2E5339;
  letter-spacing: 2.5px;
  text-variant: small-caps;
}

h2 {
  font-color: #2E5339;
  letter-spacing: 2.5px;
  text-variant: small-caps;
}

h3 {
  font-color: #2E5339;
  letter-spacing: 2.5px;
  text-variant: small-caps;
}


li {
  font-size: 18px;
  line-height: 30px;
}

a {
  color: #61304B;
  font-weight: 700;
  text-transform: small-caps;
  text-decoration: none;
  font-size: inherit;
}

span {
  background-color: #000;
  color: yellow;
  font-family: 'Courier New', serif;
  letter-spacing: 1.2px;
  padding: 1px 3px;
  vertical-align: middle;
}

a:visited {
  color: #442235;
  text-decoration:line-through;
}

a:hover {
  font-size: inherit;
  font-variant: none;
  font-weight: 700;
  color: #C46D5E
}

a:focus {
  font-size: inherit;
  font-variant: none;
  font-weight: 700;
  color: #C46D5E
}

a:active {
  background-color: #D39388;
}

.button {
  border: none;
  display: inline-block;
  font-family: inherit;
  /* styles the button */
  background-color: #7B3D5F;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s opacity, 0.5s background-color;
  -o-transition: 0.2s opacity, 0.5s background-color;
  transition: 0.2s opacity, 0.5s background-color;
}

button {
  border: none;
  display: inline-block;
  font-family: inherit;
  /* styles the button */
  background-color: #7B3D5F;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s opacity, 0.5s background-color;
  -o-transition: 0.2s opacity, 0.5s background-color;
  transition: 0.2s opacity, 0.5s background-color;
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
  background-color: #BD5D4C;
  color: #FFFCF7;
}

button:focus {
  cursor: pointer;
  opacity: 0.8;
  background-color: #BD5D4C;
  color: #FFFCF7;
}

.button:hover {
  cursor: pointer;
  opacity: 0.8;
  background-color: #BD5D4C;
  color: #FFFCF7;
}

.button:focus {
  cursor: pointer;
  opacity: 0.8;
  background-color: #BD5D4C;
  color: #FFFCF7;
}

/* Header */


.header, header {
  background-color: inherit;
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header--logo {
  padding: 10px;
  width: 250px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
}

.header--nav {
  list-style-type: none;
  padding: 10px;
}

.header--nav:last-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}

.header-nav ul, li {
  line-height: 22px;
  display: inline-block;
  margin-left: 5px;

}

.menubar li+li::before{
  content: "|";
  color: #2E5339;
}

/* Main */
main {
  padding-top: 175px;
  min-width: 500px;
  max-width: 1200px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  text-align: center;
}

.profile--display {
  width: 600px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.profile--display img {
  width: 175px;
  border-radius: 50%;
  float: left;
  margin-right: 1em;
}

.about,
.about__image,
.about__table,
.contact--text,
.contact--form  {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0px 50px;
  text-align: left;
}

.contact--form {
  border: 1px solid #000;
  -webkit-box-shadow: 0px 2px 4px gray;
          box-shadow: 0px 2px 4px gray;
  padding: 10px;
  margin-top: 3em;
}

input {
  float: right;
}

label {
  padding: 0em 1em;
}

.about__image img,{
  float: left;
  margin-right: 1em;
}

.about__button {
  margin: 2em 0em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

table {
  width: 450px;
  padding-top: 2em;
  margin: auto;
  text-align: center;
}

table th {
  font-weight: bold;
  background: undefined;
}

#about-picture {
  width: 600px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.grid {
  padding: 1em;
  text-align: justify;
  margin: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.grid--item {
  padding: 10px;
}

/* Footer */

.page--footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  padding: 20px;
  z-index: 11;
  text-align: center;
}

.page--footer h3 {
  letter-spacing: normal;
}

.linkedin, .twitter, .github {
  padding: 2px;
  width: 30px;
}

.linkedin:hover, .twitter:hover, .github:hover {
  opacity: 0.2;
}

/* Media Queries */

@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 5px;
}
  h1 {
    font-size: 14px;
  }
}

@media all and (min-width: 600px) and (max-width: 700px){
  .grid {
    -ms-grid-columns: 1fr 7px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 7px;
}
  h1 {
    font-size: 16px;
  }
}

@media all and (min-width: 800px) and (max-width: 900px) {
  .grid {
    -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
  }
  .grid--item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 18px;
  }
}

/* Animations */

@-webkit-keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(200px, 50px);
            transform: translate(200px, 50px);
  }
}

@keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(200px, 50px);
            transform: translate(200px, 50px);
  }
}

.cloud-front {
  -webkit-animation: 30s cloud-move infinite alternate linear;
          animation: 30s cloud-move infinite alternate linear;
}


@-webkit-keyframes cloud-move-reverse {
  from {
    -webkit-transform: rotate(0deg) translate(446px, 48px);
            transform: rotate(0deg) translate(446px, 48px);
  }
  to {
    -webkit-transform: rotate(20deg) translate(100px, 48px);
            transform: rotate(20deg) translate(100px, 48px);
  }
}


@keyframes cloud-move-reverse {
  from {
    -webkit-transform: rotate(0deg) translate(446px, 48px);
            transform: rotate(0deg) translate(446px, 48px);
  }
  to {
    -webkit-transform: rotate(20deg) translate(100px, 48px);
            transform: rotate(20deg) translate(100px, 48px);
  }
}

.cloud-back {
  -webkit-animation: 5s cloud-move-reverse infinite alternate ease;
          animation: 5s cloud-move-reverse infinite alternate ease;
}

@-webkit-keyframes color-change {
  0% {
    fill: blue;
  }
  50% {
    fill: pink;
  }
  100% {
    fill: purple;
  }
}

@keyframes color-change {
  0% {
    fill: blue;
  }
  50% {
    fill: pink;
  }
  100% {
    fill: purple;
  }
}

.sun {
  -webkit-animation: 4s color-change infinite alternate linear;
          animation: 4s color-change infinite alternate linear;
}
