* {
  box-sizing: border-box;
}

body {
  font-family: 'Comfortaa', 'Arial', san-serif;
  font-weight: 400;
  color: #495f41;
  background-color: #fffcf7;
  min-width: 800px;
  max-width: 1200px;
  width: 100%;
  line-height: 20px;
}

h1 {
  color: #2e5339;
  letter-spacing: 2.5px;
}

h2 {
  color: #2e5339;
  letter-spacing: 2.5px;
}

h3 {
  color: #2e5339;
  letter-spacing: 2.5px;
}

li {
  font-size: 16px;
  line-height: 30px;
}

a {
  color: #61304b;
  font-weight: 700;
  text-transform: small-caps;
  text-decoration: none;
  font-size: inherit;
}

span {
  background-color: #000;
  color: yellow;
  font-family: 'Courier New', serif;
  letter-spacing: 1.2px;
  padding: 1px 3px;
  vertical-align: middle;
}

a:visited {
  color: #442235;
  text-decoration: line-through;
}

a:hover {
  font-size: inherit;
  font-variant: none;
  font-weight: 700;
  color: #c46d5e;
}

a:focus {
  font-size: inherit;
  font-variant: none;
  font-weight: 700;
  color: #c46d5e;
}

a:active {
  background-color: #d39388;
}

button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: #7b3d5f;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.2s opacity, 0.5s background-color;
}

.button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: #7b3d5f;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.2s opacity, 0.5s background-color;
}

.about__button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: #7b3d5f;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.2s opacity, 0.5s background-color;
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
  background-color: #bd5d4c;
  color: #fffcf7;
}

button:focus {
  cursor: pointer;
  opacity: 0.8;
  background-color: #bd5d4c;
  color: #fffcf7;
}

.button:hover {
  cursor: pointer;
  opacity: 0.8;
  background-color: #bd5d4c;
  color: #fffcf7;
}

.button:focus {
  cursor: pointer;
  opacity: 0.8;
  background-color: #bd5d4c;
  color: #fffcf7;
}

/* Header */

header,
.header {
  background-color: inherit;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  display: flex;
}

.header--logo {
  padding: 10px;
  width: 200px;
  flex: 0 1 200px;
}

.header--nav {
  list-style-type: none;
  padding: 10px;
}

.header--nav:last-child {
  flex-grow: 1;
  text-align: right;
}

.header-nav ul,
li {
  line-height: 22px;
  display: inline-block;
  margin-left: 5px;
}

.menubar li + li::before {
  color: #2e5339;
}

main {
  padding-top: 175px;
  min-width: 500px;
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  text-align: center;
}

.profile--display {
  width: 600px;
  align-self: center;
  flex-wrap: wrap;
}

.profile--display img {
  width: 175px;
  border-radius: 50%;
  float: left;
  margin-right: 1em;
}

.about,
.about__image,
.about__table {
  align-self: center;
  padding: 0 50px;
  text-align: left;
  width: 700px;
}

.about__button {
  background-color: inherit;
  border: none;
  box-shadow: none;
}

.about__image img {
  float: left;
  margin-right: 1em;
}

.contact--instr {
  line-height: 30px;
}

.contact--form {
  display: grid;
  flex-flow: column wrap;
  justify-content: space-around;
  align-self: center;
  border: 1px solid #000;
  border-radius: 5%;
  box-shadow: 0 2px 4px gray;
  padding: 10px;
  margin-top: 3em;
  width: 375px;
}

label {
  text-align: left;
  display: inline-block;
  width: 140px;
}

table {
  width: 450px;
  padding-top: 2em;
  margin: auto;
  text-align: center;
}

table th {
  font-weight: bold;
  background-color: undefined;
}

#about-picture {
  width: 600px;
  align-self: center;
}

.grid {
  width: 800px;
  padding: 1em;
  text-align: justify;
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.grid--item {
  padding: 10px;
  width: auto;
}

/* Footer */

footer {
  clear: both;
  display: flex;
  flex-direction: column;
  padding: 20px;
  z-index: 11;
  text-align: center;
}

.linkedin,
.twitter,
.github {
  padding: 2px;
  width: 30px;
}

.linkedin:hover,
.twitter:hover,
.github:hover {
  opacity: 0.2;
}

/* Media Queries */

@media all and (max-width: 400px) {
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 5px;
  }

  h1 {
    font-size: 18px;
  }
}

@media all and (min-width: 500px) and (max-width: 900px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
  }

  h1 {
    font-size: 18px;
  }
}

  .grid--item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 18px;
  }
}
